.irrfmeasurement-list {
  background-color: var(--color-neutral-200);
}

.irrfmeasurement-list__main {
  margin: 0 auto;
  max-width: 740px;
  padding: 20px 0 50px;

  @media screen and (min-width: 1124px) {
    padding: 30px 0 60px;
  }
}
